#CMake
build/
bin/
dist/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile


*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.o
*.obj

compile_commands.json
.cache/

*.swp
*.swo
*~

.vscode/

.vs/
*.sln
*.vcxproj
*.vcxproj.filters

vcpkg_installed/
.vcpkg-root

*.csv
*.db
*.sqlite
*.sqlite3
*.log
data/

.DS_Store
Thumbs.db
